.main-contacto{
    display: flex;
    flex-direction: column;
    @include centrar-todo;
    gap: $medida-medio;

}

@media (min-width: $tablet){
    .main-contacto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

.formulario{
    display: flex;
    flex-direction: column;
    @include centrar-todo;
    gap: $medida-chico;

    .mb-3{
        display: flex;
        flex-direction: column;
        @include centrar-todo;
    }    
}

.foco{
    width: 250px;
    transition: width 1s;

        &:focus{
            width: 300px;
        }
}

textarea{
    height: 150px;
    width: 200px;
    transition: all 1s;

        &:focus{
            height: 200px;
            width: 250px;
        }
}

iframe{
    max-width: 100%;
}